@media screen and (max-width: 1200px) {
    .header {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        visibility: hidden;
    }
}

.j-content {
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .j-content {
        margin-top: 2rem;
        margin-bottom: 96px;
    }
}

/* @media screen and (max-width: 768px) {
    .j-content {
        width: 600px;
        margin-right: 12px;
        margin-left: 12px;
    }
} */

@media screen and (min-width: 640px) {
    .j-content {
        max-width: 640px;
    }
}

@media screen and (min-width: 768px) {
    .j-content {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .j-content {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .j-content {
        max-width: 1280px;
    }
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center; // background: #000;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 0 8px rgba(0, 0, 0, .15);
    z-index: 301;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 900px;
        .post {
            .img-box {
                width: 480px;
                height: 310px;
            }
            .info {
                top: 10px;
                width: 420px;
                height: 290px;
                padding: 50px 60px 0 60px;
                .stuff {
                    bottom: 50px;
                    left: 60px;
                }
                .title {
                    margin-top: 10px;
                    line-height: 25px;
                }
                .describe {
                    -webkit-line-clamp: 2;
                }
            }
            &:nth-child(odd) .info {
                left: 450px;
            }
            &:nth-child(even) .info {
                right: 450px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .cover {
        .misk {
            clip-path: polygon(0 0, 220px 0, 700px 100%, 0% 100%);
        }
        .post {
            width: 40%;
            .title a {
                font-size: 22px;
            }
        }
    }
    .content {
        width: 100%;
        .post {
            margin-top: 60px;
            background: #fff;
            border-bottom: 1px solid #eaeaea;
            .img-box {
                width: 100%;
                height: auto;
                display: block;
                text-align: center;
                border: none;
                img {
                    width: 680px;
                    max-width: 100%;
                }
            }
            .info {
                position: static;
                width: 96%;
                padding: 40px 20px 40px;
                margin: auto;
                border: none;
                background: #fff;
                height: auto;
                .stuff {
                    position: static;
                    margin: 20px 0 0 -6px;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .cover {
        .header {
            top: 40px;
        }
        .misk {
            clip-path: none;
            background: rgba(176, 14, 37, 0.35);
        }
        .post {
            bottom: 8%;
            left: 5%;
            top: auto;
            width: 70%;
            transform: none;
        }
        .cover-bg {
            img {
                position: absolute;
                left: 50%;
                top: 0;
                height: 100%;
                width: auto;
                transform: translateX(-50%);
            }
        }
    }
    .content {
        width: 100%;
        .post {
            .img-box {
                width: 100%;
                height: auto;
                border-radius: 0;
            }
        }
    }
    .nav {
        .nav-list {
            margin-top: 200px;
            li {
                // margin: 0 12px;
                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .cover {
        .header {
            padding: 0 24px 0 20px;
            .logo-img {
                width: 80px;
                img {
                    top: 6px
                }
            }
        }
        .post {
            .time {
                display: none;
            }
            .title {
                margin-bottom: 10px;
            }
            .describe {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    .nav .world span {
        font-size: 14px;
    }
}

.shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}
